.pagination span {
	width: 30px;
	height: 30px;
	border: 1px solid #dee2e6;
	text-align: center;
	border-left-width: 0px;
	vertical-align: middle;
}

.pagination span:first-child {
	border-left-width: 1px;
}

.center {
	margin: 0 auto;
	display: table;
}