{% extends '::base.html.twig' %}
{% block stylesheets %} 
{% endblock %}

{% block body %}
<div class="container">
	<center><br><h1>Modifier un client</h1><br><br><br></center>
	{{ form_start(form) }}

	<div class="row">
		<div class="col-md-6">
			<div class="form-group">{{ form_row(form.nom) }}</div>
		</div>	
		<div class="col-md-6">
			<div class="form-group">{{ form_row(form.prenom) }}</div>
		</div>	
		<div class="col-md-6">
			<div class="form-group">{{ form_row(form.tel) }}</div>
		</div>	
		<div class="col-md-6">
			<div class="form-group">{{ form_row(form.email) }}</div>
		</div>	
		<div class="col-md-12">
			<div class="form-group">{{ form_row(form.adresse) }}</div>
		</div>	
		<div class="col-md-12">
			<div class="form-group">{{ form_row(form.type) }}</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-12">
			<input id="submit-btn" class="btn btn-primary" style="float: right;" type="submit" value="Modifier" />
		</div>
	</div>
	{{ form_end(form) }}
</div>
{% endblock %}


{% block javascripts %}

{% endblock %}
