{% extends '::base.html.twig' %}
{% block stylesheets %} 
{% endblock %}

{% block body %}
<div class="container" id="contentToRefresh">
	<center><br><h1>Liste Clients</h1><br><br><br></center>
	<div class="row">
		<div class="col-md-6">
			Nombre clients : {{ count }}
		</div>
		<div class="col-md-6">
			<a href="{{ path ('client_add') }}" class="btn btn-primary right" style="float:right;">Ajouter</a>
			<a id="refresh" class="btn btn-success right" style="float:right; margin-right: 10px;">Recharger</a>
		</div>
	</div>
	<div style="height: 20px"></div>
	<div class="row">
		<div class="col-md-12">
			<table class="table">
				<tr>
					<th>Nom</th>
					<th>Prénom</th>
					<th>Téléphone</th>
					<th>Email</th>
					<th>Adresse</th>
					<th>Type</th>
					<th></th>
				</tr>
			
				{% for client in clients %}
				<tr>
					<td>{{ client.nom }}</td>
					<td>{{ client.prenom }}</td>
					<td>{{ client.tel }}</td>
					<td>{{ client.email }}</td>
					<td>{{ client.adresse }}</td>
					<td>{{ client.type_client }}</td>
					<td><a href="{{ path('client_edit', {'id' : client.id }) }}" style="margin-right: 5px;"><i class="far fa-edit"></i></a><a href="{{ path('client_delete', {'id' : client.id }) }}"><i class="fas fa-trash-alt"></i></a></td>
				</tr>
				{% endfor %}
			</table>
			
			<div class="center">{{ knp_pagination_render(clients) }}</div>
		</div>
	</div>
</div>
{% endblock %}


{% block javascripts %}
<script>
$(document).on('click', '#refresh', function (e) {
	$this = $(this);
	$.ajax({
		type: 'GET',
		url: '{{ path("refresh_content", {refresh: 1}) }}',
		data: {},
		success: function(objResponse) {   
		  $("#contentToRefresh").html(objResponse);
		}
	});
	return false;
});
</script>
{% endblock %}